body{
    background-color:silver;
}
.logo{
    width: 20vw;
}

.barra{
    background-color: #9FF781;
}

.navbar-light .navbar-nav .nav-link {
    color: #F2F2F2;
    font-size: 2rem;
    /* color de la fuente */
}

.navbar-light .navbar-nav .show>.nav-link {
    color: aqua;
    /* color de la seleccion */
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: grey;
    /* color al pasar el raton hover */
}

.dropdown-menu{
    background-color: pink;
}

.dropdown-divider{
    border: purple solid 1px;
}
