body{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: green;
}

.tamanodelogo{
    
    width: 250px;
}



.row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.card-body{
    background-color: yellowgreen;
    margin:0px;
    
}

.col-lg-9{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}

.col-lg-3{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}

.entradas{
    float: left;
}