body{

    background-color: #3f3250 ;
}

.navbar{

    background-color: #6e3667;

}

.logo{
    
    width: 200px;
    
}

.row{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin: 10px;
    box-sizing: border-box;  
    
}


.card-body{
    
    background-color: #93c178;
    border: solid 2px #6e3667; 
    z-index: 1;
 
}

.col-lg-9{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}

.col-lg-3{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.entradas{
   
    float: left;
    
}
.menu-item{
   
    font-size: 25px;
    font-family: 'Lobster Two', cursive;

}
.navbar-dark .navbar-nav .nav-link {
    color:#88d317;
}

.titulo{
    margin-left:8.5%;
    background-color: #3f3250 ;
    border-radius: 25px 25px 25px 25px;
    color: orange;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    font-size: 40px;
    
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    
    color: orange;
}


/* aside */

.sidebar{
    margin-top: 9px;
    
}
.destacado{
    position: absolute;
    margin:  10px;
    color: orange;
    font-size: 25px;
    font-family: 'Lobster Two', cursive;
    border-radius: 25px 25px 25px 25px;
    background-color: #6e3667;
    display: inline-block;

    z-index: 9;
}

@media (max-width: 700px) { 
    .logo{
        width: 250px;
        margin-left: 40%;
        
    }

    .navbar-toggler{
        margin-top: -7px;
        padding-top: 8px;
        padding-bottom: 8px;
        
        
    }
 }