body{
 
    background-color: #D3D3D3;
}

.tamanodelogo{
    
    width: 250px;
}



.row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    
    
}

.card-body{
    
    background-color:purple;
    
    border-radius: 25px 25px 25px 25px;
    
    
}

.col-lg-9{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
}

.col-lg-3{

    margin-left: 0;
    margin-right: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.entradas{
   
    float: left;
}